body{
	font-family:Play;
	font-size: 18px;
}
header{
	font-size: 36px;
	text-align: center;
	background-color: burlywood;
}
footer{
	font-size:18px;
	text-align: center;
	background-color: crimson;
	margin-bottom:0px;
	padding-bottom:0px;
}
#values_div{
	width:49%;
	display: inline-block;
}
#canvas_div{
	width: 100%;
}
#formulas{
	width:49%;
	display: none;
}
button{
	margin: 5px;
	width: 150px;
	height: 35px;
}
input{
	width: 50px;
}
canvas{
	border:dashed;
}
.bred{
	text-align:center;
}